html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin: 0vw;
}
.doc-body{
    width:100%;
    display: flex;
    flex-direction: row;
}
.doc-menu{
    width:17vw;
    height: 100%;
    position: fixed;
    background: #F8F8F8;
    color: #606060;
    padding-left: 4.1vw;
}
.menu-title{
    font-weight: 700;
    font-size: 1.4vw;
    margin-top: 3.5vw;
    color: #606060;
}
.menu-list{
    list-style-type:none;
    margin: 0vw;
    padding: 0vw;
}
.menu-sublist{
    list-style-type:none;
    margin: 0vw;
    padding: 0vw;
    font-weight: 500;  
}
.list-item{
    font-size: 1.2vw;
    margin: 2.75vw 0vw;   
}
.link-null{
    color: #606060;
    text-decoration: none;
}
.sublist-item{
    font-size: 1.1vw;
    margin: 2.75vw 0vw;   
}

.doc-cont-area{
    margin-left: 21vw;
    width: 78vw;
    padding-bottom: 6vw;
    background: rgb(255, 255, 255);
}
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-button{
    background: #FEB9B9;
    outline: none;
    border: 0px;
    text-decoration: none;
    margin: 2vw 3vw;
    color: #fff;
    border-radius: 0vw;
    font-size: 1.2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 1vw 1.8vw;
}
.cont-img{
    margin-left:7vw;
    margin-bottom: 2vw;
}
.cont-title{
    font-size: 4.5vw;
    margin: 0vw;
    margin-top: 0vw;
    margin-left:7vw;
    color: #606060;
}
.cont-subtitle{
    font-size: 1.5vw;
    margin: 0vw;
    margin-top: 1vw;
    font-weight: 500;
    margin-bottom: 1vw;
    margin-left:7vw;
    color: #BCB9B9;
}
.cont-text{
    font-weight: 300;
    margin: 0vw;
    font-size: 1.2vw;
    margin-top: 2vw;
    margin-left:7vw;
    line-height:39px;
    width: 40vw;
    color: #BCB9B9;
}
.cont-post-img{
    width: 42vw;
    margin: 1vw 0vw;
}
.text-link{
    color: #FEB9B9;
    margin: 0vw;
    font-weight: 300;
    font-size: 1.2vw;
    text-decoration: none;
    cursor: pointer;
}
.cont-note{
    font-weight: 600;
    margin: 0vw;
    font-size: 1.2vw;
    margin-top: 6vw;
    margin-left:7vw;
    width: 40vw;
    color: #BCB9B9;
}
.cont-post{
    margin-left: 7vw;
    margin-top: 6vw;
    color: #BCB9B9;
}
.post-title{
    color: #777777;
    font-size: 1.7vw;
}
.post-text{
    font-weight: 300;
    font-size: 1.2vw;
    width: 40vw;
    line-height: 39px;
}

.cont-subpost{
    margin-left: 7vw;
    margin-top: 7vw;
    color: #BCB9B9;
}
.subpost-title{
    color: #777777;
    font-size: 1.6vw;
    font-weight: 500;
}
.subpost-text{
    font-weight: 300;
    font-size: 1.2vw;
    width: 40vw;
    line-height: 39px;
}
.subpost-subtitle{
    font-weight: 500;
    font-size: 1.2vw;
    width: 40vw;
    color: #FEB9B9;
}
.subpost-code{
    width: 26vw;
    color: #f5f5f5;
    font-family: 'Source Code Pro', monospace;
    background: #373F55;
    display: block;
    padding: 1.75vw 3vw;
    padding-left: 2vw;
    line-height: 32px;
    border-radius: 0.3vw;
}
.code-bl{
    color: #70c0f5;
    margin:1vw  2vw;
    margin-right: 0vw;
}
.code-dr{
    color: #4986d6;
}
.code-yl{
    color: #d8da69;
}

.code-or{
    color: #f0b262;
}