html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0vw;
}
body::-webkit-scrollbar{
    width: 0.3vw;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: #979797; 

}
.landing{
    display: flex;
    width: 100%;
    height: 50vw;
    justify-content: center;
    align-items: center;
}
.landing-img{
    position: absolute;
    width: 102%;
    left: -5vw;
    top: -3vw;
    z-index: -1;
}
.counter{
    display: flex;
    margin-top: -5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    margin-bottom: 2vw;
    font-weight: 700;
    font-size: 0.9vw;
}
.title{
    font-size: 6vw;
    margin: 0;
}
.button{
    text-decoration: none;
    background: #FFB89C;
    padding: 1vw 2vw;
    color: #fff;
    border-radius: 0.7vw;
    margin-top: 4vw;
    cursor: pointer;
}
.text{
    color: #B7B7B7;
    font-size: 1.2vw;
}

.tabs{
    margin: 10vw 0vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tab{
    width: 20vw;
    margin: 2vw 3vw;
    padding: 3vw 3vw 3vw 4vw;
    border-radius: 1.3vw;
    transition: 0.3s all;
    box-shadow: 0 0 3vw #e7e7e7;
}
.tab-icon{
    width: 1.65vw;
    padding: 1vw;
    border-radius: 3vw;
}
.graphql{
    background: #ffd9ff;
}
.opens{
    background: #ddffd6;
}
.tab-title{
    font-size: 2.65vw;
    cursor:default;
    margin: 1.4vw 0 1vw 0;
}
.tab-text{
    cursor:default;
    color: #B7B7B7;
    font-size: 1.1vw;
    line-height: 2.4vw;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title{
    font-size: 4vw;
    margin: 0;
}
.section-button{
    text-decoration: none;
    background: #FFB89C;
    padding: 1.2vw 1.9vw;
    color: #fff;
    border-radius: 0.7vw;
    margin-top: 3vw;
    cursor: pointer;
}
.section-text{
    color: #B7B7B7;
    font-size: 1.2vw;
    width: 30vw;
    line-height: 3vw;
    text-align: center;
}
.section-link{
    color: #FFB89C;
}
.credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1vw;
    margin: 4vw 0;
}
.credits-icon{
    width: 1.1vw;
    margin: 0 0.5vw;
    margin-top: 0.7vw;
    margin-bottom: -0.2vw;
    margin-left: 0.3vw;
}
.credits-text{
    color: #B7B7B7;
}
.credits-name{
    color: #000;
    margin-left: 0.3vw;
}.links{
    margin-top: 1vw;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.link-icon{
    margin: 1vw;
    width: 1.4vw;
}